.banner {
  &__background {
    background-image: url("../images/home/home-animation.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
  }
}
.features {
  &__link {
    &:before,
    &:after {
      position: absolute;
      transition: all 0.35s ease;
    }
    &:before {
      bottom: 0;
      display: block;
      height: 1px;
      width: 0%;
      content: "";
      background-color: var(--primary);
    }
    &:after {
      left: 0;
      top: 0;
      position: absolute;
      content: attr(data-hover);
      color: #ffffff;
      white-space: nowrap;
      max-width: 0%;
      overflow: hidden;
    }
  }
  &__image {
    transition: all 2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__background-image {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    &--primary {
      background-image: url(../images/features/features-animation.png);
    }
    &--secondary {
      background-image: url(../images/features/home-animation-2.png);
    }
  }
}
.clients {
  &__logo {
    &:hover {
      opacity: 1;
    }
  }
}
.modal {
  &__close {
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}
.testimonial {
  &__avatar {
    height: 4.5rem;
    width: 4.5rem;
  }
  .swiper {
    &-slide {
      opacity: 0.6;
      &-active {
        background-color: var(--color-5);
        opacity: 1;
      }
    }
    &-pagination {
      &-bullets,
      &-custom,
      &-fraction {
        bottom: 0px;
        left: 0;
        width: 100%;
      }
      &-bullet {
        width: 8px;
        height: 8px;
        &-active {
          opacity: 1;
          background: var(--color-6) !important;
          width: 12px;
          height: 12px;
          vertical-align: middle !important;
        }
      }
    }
  }
}
.counter {
  &__title {
    font-size: 3.5rem;
  }
  &__left {
    left: 0;
    border-left: 1px dashed rgba(157, 157, 157, 0.2);
    height: 400px;
  }

  &__right {
    right: 0;
    border-right: 1px dashed rgba(157, 157, 157, 0.2);
    height: 400px;
  }
}
.pricing {
  &__title {
    font-size: 3.5rem;
  }
}
.blog{
  &__read{
    &:hover{
      transition: all 0.3s ease-in-out;
      color: var(--color-3) !important;
    }
  }
}
.faq {
  &__toggle {
    &:before {
      content: "-"; 
      width: 22px;
      height: 22px;
      color: var(--color-2);
      border-radius: 50%;
      text-align: center;
      background: var(--color-1);
      line-height: 22px;
      display: block;
      float: right;
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.collapsed:before {
      content: "+";
    }
  }

  &__card-body {
    animation: sweep .5s ease-in-out;
    border-left: solid 2px var(--color-1);
    padding-left: 15px; // Adjust as needed
  }

  @keyframes sweep {
    0% {
      opacity: 0;
      margin-left: -10px;
    }
    100% {
      opacity: 1;
      margin-left: 0;
    }
  }
}

#cta-ani {
  background-image: url(../images/cta/animation-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}
#cta-footer {
  background-image: url(../images/cta/animation-image-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}
