#cta-ani,
#cta-footer {
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}
#cta-ani {
  background-image: url(../images/cta/animation-image.png);
}
#cta-footer {
  background-image: url(../images/cta/animation-image-2.png);
}
.home {
  &__form {
    bottom: -50px;
  }
}
.review {
  &__shape {
    top: -45%;
    right: 0;
  }
}
.feedback {
  &__image {
    transition: all 2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__background-image {
    background-image: url(../images/features/home-animation-2.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__overlay {
    transition: opacity 0.4s;
  }
}
.clients {
  &__logo {
    &:hover {
      opacity: 1;
    }
  }
}
.modal {
  &__close {
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}
.counter {
  &__left {
    &::after {
      content: "";
      border-left: 1px dashed rgba(157, 157, 157, 0.2);
      height: 400px;
    }
  }
  &__right {
    &::before {
      content: "";
      border-right: 1px dashed rgba(157, 157, 157, 0.2);
      height: 400px;
    }
  }
}
