.banner {
  &__background {
    z-index: -1;
    background: var(--color-1);
    background: linear-gradient(
      270deg,
      var(--color-1) 0%,
      var(--color-2) 100%
    );
  }
}
.features {
  &__link {
    letter-spacing: 1px;
    &:before,
    &:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    }
    &:before {
      bottom: 0;
      display: block;
      height: 1.5px;
      width: 0%;
      content: '';
      background-color: var(--color-1);
    }
    &:after {
      left: 0;
      top: 0;
      position: absolute;
      content: attr(data-hover);
      color: var(--color-2);
      white-space: nowrap;
      max-width: 0%;
      overflow: hidden;
    }
    &:hover:before{
      opacity: 1;
      width: 100%;
    }
    &:hover:after {
    max-width: 100%;
    }
  }
  &__image {
    transition: all 2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__background-container{
      height: 150%;
      top: -100px;
      perspective: 30px;
      left: -50px;
  }
  &__background-image {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    &--primary {
      background-image: url(../images/features/features-animation.png);
    }
    &--secondary {
      background-image: url(../images/features/home-animation-2.png);
    }
  }
  &__smooth {
    transition: transform 0.5s;
  }
}
.brands {
  &__slide{
    opacity: 0.3;
    transition: all 0.5s;
    cursor: pointer;
    max-width: 140px;
    max-height: 140px;
    &:hover{
        opacity: 1;
    }
  }
}
.service{
  &__clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}
.modal {
  &__close {
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}
.testimonial {
  &__avatar {
    max-height: 4.5rem;
    max-width: 4.5rem;
  }
  .swiper {
    &-slide {
      opacity: 0.6;
      &-active {
        background-color: var(--color-5);
        opacity: 1;
      }
    }
    &-pagination {
      &-bullets,
      &-custom,
      &-fraction {
        bottom: 0px;
        left: 0;
        width: 100%;
      }
      &-bullet {
        width: 8px;
        height: 8px;
        &-active {
          opacity: 1;
          background: var(--color-6) !important;
          width: 12px;
          height: 12px;
          vertical-align: middle !important;
        }
      }
    }
  }
}
.cta {
  background-image: url(../images/cta/animation-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}
.counter {
  &__title {
    font-size: 3.5rem;
  }
}
.pricing {
  &__title {
    font-size: 3.5rem;
  }
}
.blog{
  &__read{
    &:hover{
      transition: all 0.3s ease-in-out;
      color: var(--color-3) !important;
    }
  }
}
.faq {
  &__toggle {
    &:before {
      content: "-"; 
      width: 22px;
      height: 22px;
      color: var(--color-2);
      border-radius: 50%;
      background: var(--color-1);
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.collapsed:before {
      content: "+";
    }
  }
  &__card-body {
    border-left: solid 2px var(--color-1);
  }
}
.subscribe {
  background-image: url(../images/cta/animation-image-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}